@charset "UTF-8";

body {
}

lable {
}

.titulo {
    font-family: Calibri;
    font-size: 20px;
    color: rgb(56, 55, 55);
    font-weight: bolder;
    margin: 15px 20px 15px 15px;
}

.DDList {
    font-family: Calibri;
    color: rgb(105, 105, 105);
    font-size: 18px;
}

.tabela {
    margin: 10px 10px 10px 10px;
}

.alternativa {
    font-family: Calibri;
    color: rgb(118, 114, 114);
    font-size: 15px;
    margin: 15px 20px 15px 15px;
}

.tituloQuestao {
    font-family: Calibri;
    font-weight: bold;
    color: rgb(118, 114, 114);
    font-size: 18px;
    margin: 15px 20px 15px 15px;
}

.botao {
    font-size: 15px;
    margin: 15px 10px 10px 10px;
    font-family: Calibri;
    color: #000;
    font-size: 15px;
    border-radius: 2px 2px;
}

    .botao:hover {
        color: rgb(18,95,110);
        cursor: pointer;
    }

.texto {
    font-family: Calibri;
    font-weight: bold;
    color: rgb(105, 105, 105);
    font-size: 18px;
    margin: 15px 10px 10px 5px;
}

.textoCorrido {
    font-family: Calibri;
    color: rgb(105, 105, 105);
    font-size: 16px;
    margin: 15px 10px 10px 5px;
}


.textoAlerta {
    font-family: Calibri;
    font-weight: bold;
    color: rgb(255, 0, 0);
    font-size: 18px;
    margin: 15px 10px 10px 10px;
}

.caixaTexto {
    font-family: Calibri;
    color: rgb(105, 105, 105);
    font-size: 15px;
}

.txtArea {
    font-family: Calibri;
    color: rgb(100, 100, 100);
    font-size: 15px;
    width: 198px;
    height: 79px;
}


.caixaAlternativa {
    font-family: Calibri;
    color: rgb(105, 105, 105);
    font-size: 15px;
    width: 207px;
    padding: 20px 20px 20px 20px;
}

div#TextBoxContainer {
    font-family: Calibri;
    font-weight: bold;
    color: rgb(105, 105, 105);
    font-size: 16px;
    margin: 15px 10px 10px 10px;
}

    div#TextBoxContainer input {
        font-family: Calibri;
        color: rgb(105, 105, 105);
        font-size: 15px;
        width: 148px;
    }

div#grafico {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

img#investidor {
    border: 1px solid #fff;
    height: 120px;
    width: 120px;
    border-radius: 3px 3px;
}

img#educacao {
    border: 1px solid #fff;
    width: 180px;
    height: 130px;
}

.tipoQuestionario:hover {
    border: 1px solid #000;
}

div#lista {
    text-align:center;
    margin: 20px;
   
}

