.titulo {
    font-family: Calibri;
    font-size: 25px;
    color: rgb(56, 55, 55);
    font-weight: bolder;
    margin: 10px;
}

.DDList {
    font-family: Calibri;
    color: rgb(105, 105, 105);
    font-size: 16px;
}


.alternativa {
    font-family: Calibri;
    color: rgb(118, 114, 114);
    font-size: 15px;
    margin: 15px 20px 15px 15px;
}

.tituloQuestao {
    font-family: Calibri;
    font-weight: bold;
    color: rgb(118, 114, 114);
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 20px;
}


.texto {
    font-family: Calibri;
    font-weight: bold;
    color: rgb(105, 105, 105);
    font-size: 18px;
    margin: 5px;
}

.textoCorrido {
    font-family: Calibri;
    color: rgb(105, 105, 105);
    font-size: 16px;
    margin: 15px 10px 15px 5px;
}


.Alerta {
    font-family: Calibri;
    font-weight: bold;
    color: rgb(255, 0, 0);
    font-size: 18px;
    margin: 3px;
}

.caixaTexto {
    font-family: Calibri;
    font-size: 15px;
}

.txtArea {
    font-family: Calibri;
    font-size: 15px;
    width: 250px;
    height: 120px;
    margin: 5px;
}


.caixaAlternativa {
    font-family: Calibri;
    color: rgb(105, 105, 105);
    font-size: 15px;
    padding: 20px 20px 20px 20px;
}

div#TextBoxContainer {
    font-family: Calibri;
    font-weight: bold;
    color: rgb(105, 105, 105);
    font-size: 16px;
    margin: 15px 10px 10px 5px;
}

div#grafico {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}



div#config span {
    cursor: pointer;
    font-family: Calibri;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    margin: 10px;
    padding: 5px;
    border-radius: 2px 2px;
    border: 1px solid #fff;
    background-color: rgb(18,95,118);
}

    div#config span:hover {
        background: rgb(12, 120, 152);
    }

div#config p {
    margin-top: 20px;
}


.abrir {
    border: 1px solid rgb(18,95,118);
    border-radius: 2px 2px;
    margin: 10px;
    padding: 5px;
}

/*lista tipo de questionário*/

.linha {
    padding: 5px;
    height: auto;
    display: table;
    left: 50%;
    top: 50%;
    position: relative;
    margin-left: -300px;
    margin-top: 20px;
}

.bloco {
    font: bold 12px/18px sans-serif;
    font-size: 0.8rem;
    display: inline-block;
    margin: 5px;
    position: relative;
    padding: 10px 20px;
    background: rgb(18,95,118);
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.4s;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #fff;
    border-radius: 2px 2px;
}

    .bloco:hover {
        background: rgb(12, 120, 152);
        color: #fff;
        padding-right: 3em;
        padding-left: 3em;
    }

.tipoQuestionario {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 2px 2px;
}


.fechar {
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    margin-top: -8px;
    margin-right: -8px;
    margin-left: 6px;
    padding: 3px 6px;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    transition: all 0.5s ease 0s;
    color: rgb(254, 49, 49);
    border-color: #d43f3a;
    float: right;
    font-size: 16px;
}

    .fechar:hover {
        background-color: #d9534f;
        border-color: #d43f3a;
        color: #fff;
    }

/*Modal*/
.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.50;
}

.pnl {
    background-color: White;
    padding: 20px;
    border-radius: 2px 2px;
}

.close {
    DISPLAY: block;
    LEFT: -12px;
    WIDTH: 26px;
    TEXT-INDENT: -1000em;
    POSITION: absolute;
    TOP: -12px;
    HEIGHT: 26px;
}
/*Fim Modal*/

/*Accordion style*/
.accordion {
    width: auto;
}

.accordionHeader {
    border: 1px solid rgb(18,95,110);
    color: rgb(18,95,110);
    background-color: white;
    font-family: Calibri;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

    .accordionHeader:hover {
        background-color: rgb(18,95,110);
        border-color: rgb(18,95,110);
        color: #fff;
    }

.accordionHeaderSelected {
    border: 1px solid rgb(18,95,110);
    color: white;
    background-color: rgb(18,95,110);
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionContent {
    background-color: white;
    border: 1px solid rgb(18,95,110);
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}
/*fim accordion*/
