body {
    background-color: #d6d6d6;
    font-family: Tahoma;
}

#header {
    border-radius: 2px 2px;
    background-color: #fff;
}

.img {
    margin: 10px;
}

#painel {
    border-bottom-left-radius: 10px;
}

#slider {
    width: 100%;
    height: auto;
}

#content {
    margin: 10px 0px 10px 0px;
    border-radius: 2px 2px;
    background: #ffffff;
    padding: 10px;
}

footer#rodape {
    border-radius: 2px 2px;
    background-color: rgb(18,95,118);
    padding: 4px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: small;
}

    footer#rodape p {
        text-align: center;
    }

.fatec {
    float: right;
    height: 90px;
    width: 245px;
    margin-top: 5px;
}

.cps {
    float: left;
    margin-top: 25px;
    margin-left: 30px;
    height: 40px;
    width: 300px;
}



.formulario {
    border-radius: 2px 2px;
    margin: 0;
    padding: 0;
}

    .formulario p {
        margin: 0px;
        font-size: 11pt;
    }

.h1 {
    color: rgb(56, 55, 55);
    margin: 10px;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bolder;
    border-radius: 2px 2px;
}

.label {
    color: #808080;
    margin: 0;
    font-size: 14px;
    font-family: Arial;
    padding: 2px 0px 2px 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.label2 {
    color: #fff;
    margin: 0;
    font-size: 14px;
    font-family: Arial;
    border: solid 1px #1e47a9;
    padding: 2px 0px 2px 0px;
    border-radius: 2px 2px;
    background-color: #1e47a9;
}

input {
    margin: 0;
    border: solid 1px silver;
    padding: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f2f0ed;
}

    input:focus {
        border: 1px solid rgb(18,95,118);
    }

textarea {
    margin: 0;
    font-size: 14px;
    border: solid 1px silver;
    padding: 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #f2f0ed;
}

    textarea:focus {
        border: 1px solid rgb(18,95,118);
    }

select {
    margin: 0;
    border: solid 1px silver;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #f2f0ed;
}

nav#menu {
    margin: 5px auto 5px auto;
    background-color: rgb(18,95,118);
    font-family: Calibri;
}


ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 10px 4px 10px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

    ul li {
        font: bold 12px/18px sans-serif;
        display: inline-block;
        margin-right: -4px;
        position: relative;
        padding: 10px 20px;
        background: rgb(18,95,118);
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        color: #fff;
    }

        ul li:hover {
            background: rgb(12, 120, 152);
            color: #fff;
        }

        ul li ul {
            width: 100px;
            padding: 0;
            margin: auto 15px 10px 10px;
            position: absolute;
            top: 38px;
            left: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            display: none;
            opacity: 0;
            visibility: hidden;
            -webkit-transiton: opacity 0.2s;
            -moz-transition: opacity 0.2s;
            -ms-transition: opacity 0.2s;
            -o-transition: opacity 0.2s;
            -transition: opacity 0.2s;
        }

            ul li ul li {
                background: rgb(18,95,118);
                display: block;
                color: #fff;
            }

                ul li ul li:hover {
                    background: rgb(12, 120, 152);
                }

        ul li:hover ul {
            display: block;
            opacity: 1;
            visibility: visible;
        }

a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

    a:hover {
        color: #ffffff;
        text-decoration: none;
    }

div#box-toggle {
    float: right;
    margin: 20px;
    background-color: rgb(18,95,118);
    border-radius: 2px;
    font-family: Calibri;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

    div#box-toggle img {
        height: 35px;
        width: 35px;
    }

    div#box-toggle span {
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
  
    }
