
body {
    background: silver;
    min-width: 37.2rem;
}

hr {
    height: 90%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#header {
    border-radius: 2px 2px;
    background-color: #fff;
    width: 100%;
    height: auto;
}

.img {
    margin: 10px;
}

.imgLogo {
    max-width: 19rem; /* Máximo da largura da imagem */
    width: 40%;
    max-height: 7rem; /* Máximo da altura da imagem */
    margin: 10px;
}

#painel {
    border-bottom-left-radius: 10px;
}

#slider {
    width: 100%;
    height: 300px;
}

#content {
    margin: 10px 0px 10px 0px;
    border-radius: 2px 2px;
    background: #ffffff;
    padding: 20px;
    min-height: 250px;
}

footer#rodape {
    border-radius: 2px 2px;
    background-color: rgb(18,95,118);
    padding: 4px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Calibri;
}

    footer#rodape p {
        text-align: center;
    }



.formulario {
    border-radius: 2px 2px;
    margin: 0;
    padding: 0;
}

    .formulario p {
        margin: 0px;
        font-size: 11pt;
    }

.h1 {
    color: rgb(56, 55, 55);
    margin: 10px;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bolder;
    text-align: center;
}

.label {
    color: #808080;
    margin: 0;
    font-size: 14px;
    font-family: Arial;
    padding: 2px 0px 2px 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.label2 {
    color: #fff;
    margin: 0;
    font-size: 14px;
    font-family: Arial;
    border: solid 1px #1e47a9;
    padding: 2px 0px 2px 0px;
    border-radius: 2px 2px;
    background-color: #1e47a9;
}


.tabela {
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 5px;
    width: auto;
}

    .tabela input {
        margin: 5px;
        font-size: 16px;
        border: solid 1px silver;
        padding: 2px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #f2f0ed;
        height: 20px;
        font-family: Calibri;
        color: rgb(56, 55, 55);
    }

        .tabela input[type="text"] {
            width: 250px;
        }

        .tabela input:focus {
            border: 1px solid rgb(18,95,118);
        }

    .tabela textarea {
        margin: 5px;
        font-size: 16px;
        border: solid 1px silver;
        padding: 2px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #f2f0ed;
        font-family: Calibri;
        color: rgb(56, 55, 55);
    }

        .tabela textarea:focus {
            border: 1px solid rgb(18,95,118);
        }

    .tabela input[type="number"] {
        width: 100px;
    }

    .tabela select {
        margin: 5px;
        font-size: 16px;
        border: solid 1px silver;
        padding: 2px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #f2f0ed;
        font-family: Calibri;
        color: rgb(56, 55, 55);
    }

    .tabela a {
        color: #1e47a9 !important;
        font-family: Calibri;
        text-decoration: none;
        font-size: 18px;
    }

        .tabela a:hover {
            text-decoration: underline;
        }

/*MENU*/
nav#menu {
    margin: 5px auto 5px auto;
    background-color: rgb(18,95,118);
    font-family: Calibri;
    border-radius: 2px;
}


ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 5px 4px 5px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}


    ul li {
        font: bold 12px/18px sans-serif;
        font-size: 14px;
        display: inline-block;
        margin-right: -4px;
        position: relative;
        padding: 10px 20px;
        background: rgb(18,95,118);
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.4s;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        color: #fff;
        border-radius: 0;
        text-align: center;
    }

        ul li a {
            padding: inherit;
        }


        ul li:hover {
            background: rgb(12, 120, 152);
            color: #fff;
        }

        ul li ul {
            width: 7.188rem;
            padding: 0;
            margin: auto 15px 15px 5px;
            position: absolute;
            top: 38px;
            left: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            display: none;
            opacity: 0;
            visibility: hidden;
            border-radius: 2px;
            text-align: center;
            -webkit-transiton: opacity 0.2s;
            -moz-transition: opacity 0.2s;
            -ms-transition: opacity 0.2s;
            -o-transition: opacity 0.2s;
            -transition: opacity 0.2s;
        }


            ul li ul li {
                background: rgb(18,95,118);
                display: block;
                color: #fff;
            }

                ul li ul li:hover {
                    background: rgb(12, 120, 152);
                }

        ul li:hover ul {
            display: block;
            opacity: 1;
            visibility: visible;
        }

a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

    a:hover {
        color: #ffffff;
        text-decoration: none;
    }

/*Fim menu*/
div#box-toggle {
    position: static;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    background-color: rgb(18,95,118);
    border-radius: 2px;
    font-family: Calibri;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

    div#box-toggle:hover {
        background: rgb(12, 120, 152);
    }


    div#box-toggle img {
        max-width: 2rem;
        max-height: 2rem;
        position: static;
    }

    div#box-toggle span {
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
    }

/*botões aqui*/
.botao {
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: -5px;
    margin-left: 10px;
    padding: 3px 6px;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    transition: all 0.5s ease 0s;
    color: rgb(18,95,110);
    border-color: rgb(18,95,110);
    font-size: 16px;
}

    .botao:hover {
        background-color: rgb(18,95,110);
        border-color: rgb(18,95,110);
        color: #fff;
    }


.btn-cancelar {
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: -5px;
    margin-left: 10px;
    padding: 3px 6px;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    transition: all 0.5s ease 0s;
    color: rgb(254, 49, 49);
    border-color: #d43f3a;
    font-size: 16px;
}

    .btn-cancelar:hover {
        background-color: #d9534f;
        border-color: #d43f3a;
        color: #fff;
    }

/*FIM botao*/

/*Grid style*/

.Grid {
    background-color: #fff;
    margin: 10px;
    font-family: Calibri;
    color: #474747;
    border-color: white;
    border-collapse: collapse;
}



    .Grid td {
        padding: 5px;
    }


    .Grid tr {
        border-color: white;
    }

        .Grid tr:hover {
            background-color: #d1d7d5;
            border-color: #d1d7d5;
        }

    .Grid th {
        padding: 5px;
        color: #fff;
        background: rgb(18,95,110);
        font-size: 1.1em;
        border-color: white;
    }

    .Grid .alt {
        background-color: #fcfcfc;
        border-color: #fcfcfc;
    }

    .Grid .pgr {
        background-color: white;
    }

        .Grid .pgr table {
            margin: 3px 0;
        }

        .Grid .pgr td {
            padding: 2px 2px;
            font-weight: bold;
            line-height: 12px;
        }

            .Grid .pgr td span {
                background-color: rgb(18,95,110);
                border-color: rgb(18,95,110);
                color: #fff;
                padding: 2px 4px 2px 4px;
            }


    .Grid a {
        background-color: transparent;
        transition: all 0.5s ease 0s;
        color: rgb(18,95,110);
        padding: 2px 4px 2px 4px;
        margin: 2px;
        font-family: Calibri;
    }

        .Grid a:hover {
            background-color: rgb(18,95,110);
            border-color: rgb(18,95,110);
            color: #fff;
        }

/*Fim grid*/
