<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <!--<add key="ConfigDB" value="Database=inter; Data Source=localhost; User id=root; Password=; port=3307; pooling=false; Convert Zero Datetime=True; Allow Zero Datetime=True; "/>-->
    <add key="ConfigDB" value="Database=inter; Data Source=192.168.147.129; User id=root; Password=master; pooling=false; Convert Zero Datetime=True; Allow Zero Datetime=True; "/> 
    <!--<add key="ConfigDB" value="Database=inter; Data Source=db4free.net; User id=clubedos5; Password=mellon; pooling=false; Convert Zero Datetime=True; Allow Zero Datetime=True; "/>-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState timeout="60"></sessionState>
  </system.web>

</configuration>
